
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.nav{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    height: 50px;
    align-items: center;
}